.app-title {
    text-align: center;
    color: #000000;
  }
  .registration-page {
    background-color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  }
  .app-registro {
    text-align: center; /* Cambia la alineación del texto a la izquierda */
  }
  .registration-container {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .registration-button {
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 100%;
  }

  .registration-card {
    background-color: rgba(182, 115, 8, 0.073);
    border-radius: 5px;
    width: 310px; /* Aumenta el ancho según tus necesidades */
    margin: 20px auto; /* Centra horizontalmente */
  }

  .img-acreditacion{
    height: 5vh;
    width: 50vh;
    background-color: rgba(254, 174, 0, 0.787);
    justify-content: end;
    margin: 20px auto;
  }

  .img-logo-duoc{
    margin: 20px auto;
    height: 15vh; 
    max-width: 50vh;
  }

.container{
  background: rgb(237,237,237);
  background: -moz-linear-gradient(175deg, 
    rgba(237,237,237,0.1517857142857143) 0%,
    rgba(29,161,253,0.13217787114845936) 50%, 
    rgba(249,249,249,0.15458683473389356) 93%);
  background: -webkit-linear-gradient(175deg, 
    rgba(237,237,237,0.1517857142857143) 0%, 
    rgba(29,161,253,0.13217787114845936) 50%, 
    rgba(249,249,249,0.15458683473389356) 93%);
  background: linear-gradient(175deg, 
    rgba(237,237,237,0.1517857142857143) 0%, 
    rgba(29,161,253,0.13217787114845936) 50%, 
    rgba(249,249,249,0.15458683473389356) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed",endColorstr="#f9f9f9",GradientType=1);
}

.ion-justify-content-center{
  background-color: #ffffff27;
}