<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>clase-registrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clase-registrada</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-title>Datos clase</ion-title>
    </ion-card-header>
    <ion-card-content>
      <p [innerHTML]="mensajeDesdePreferences"></p>
      <p *ngIf="latitude !== undefined && longitude !== undefined">
        Latitud: {{ latitude }}, Longitud: {{ longitude }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Alumno</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <ion-label>
            <strong>RUT:</strong> {{ usuario.rut }} <br>
            <strong>Nombre:</strong> {{ usuario.nombre }} <br>
            <strong>Apellido:</strong> {{ usuario.apellido }} <br>
            <strong>Usuario:</strong> {{ usuario.usuario }} <br>
            <strong>Carrera:</strong> {{ usuario.carrera }} <br>
            
            
            <!-- Muestra la región si está presente -->
            <ng-container *ngIf="usuario.region">
              <strong>Región:</strong> {{ usuario.region.nombre }}<br>
            </ng-container>
        
            <!-- Muestra la comuna si está presente -->
            <ng-container *ngIf="usuario.comuna">
              <strong>Comuna:</strong> {{ usuario.comuna.nombre }}<br>
            </ng-container>

            <strong>La hora:</strong> {{ horaDesdePreferences }}<br>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>