.card {
    border-radius: 5px;
    width: 325px; 
    margin: 20px auto; /* Centra horizontalmente */
  }

  .img-acreditacion{
    height: 5vh;
    width: 50vh;
    background-color: rgba(254, 174, 0, 0.787);
    justify-content: end;
    margin: 20px auto;
  }

  .img-logo-duoc{
    margin: 20px auto;
    height: 15vh; 
    max-width: 50vh;
  }